modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BPzlfDuf6yrePYnq8mbXN75nGsgKqGU5jfOGZn5uGZIKBpwsoT4f4GLUlm-6xowQqB5xzdgsHBmFt_qiPcPdVtc"
VAPID_PRIVATE_KEY = "UxhuEgFukDbXHKYGpzP6cRKV3Lfz0V1ucfPKScFwQ3I"
VAPID_EMAIL = "mailto:admin@hypedanubis3d.com"

[userenv.production]
SHOPIFY_REDIRECT_URI = "https://layerstack.replit.app/api/shopify/oauth/callback"
