modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BPzlfDuf6yrePYnq8mbXN75nGsgKqGU5jfOGZn5uGZIKBpwsoT4f4GLUlm-6xowQqB5xzdgsHBmFt_qiPcPdVtc"
VAPID_PRIVATE_KEY = "UxhuEgFukDbXHKYGpzP6cRKV3Lfz0V1ucfPKScFwQ3I"
VAPID_EMAIL = "mailto:admin@hypedanubis3d.com"
SHOPIFY_SHOP = "hypedanubis3d-2.myshopify.com"
LAYERDECK_API = "https://layerdeck.replit.app"
META_APP_ID = "4317363561863449"
INSTAGRAM_ACCOUNT_ID = "17841468821012873"
SQUARE_APP_ID = "sq0idp-snoi-XftnTFSnqQQUsrOKQ"
SQUARE_LOCATION_ID = "LBC978ZGBGS2M"
PI_URL = "http://100.88.246.109:3000"
ELECTRICITY_RATE = "0.13"
PLUG_A1_IP = "192.168.1.165"
PLUG_P1_ROOM_IP = "192.168.1.162"
PLUG_P1_CLOSET_IP = "192.168.1.172"

[userenv.production]
SHOPIFY_REDIRECT_URI = "https://layerdeck.replit.app/api/shopify/oauth/callback"
SQUARE_WEBHOOK_URL = "https://layerstack.replit.app/api/square/webhook"
